html {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

@font-face {
  font-family: 'Basier';
  src: url('BasierSquare-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Basier';
  font-weight: bold;
  src: url('BasierSquare-Bold.woff2') format('woff2');
}

@font-face {
  font-family: 'Pensum';
  src: url('PensumPro-Book.woff2') format('woff2');
}
